In [2]:
import os
os.getcwd()

'E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code'

In [3]:
import pandas as pd
import json
import urllib as u
import datetime

In [28]:
#create APL link 
domain='https://environment.data.gov.uk/hydrology/id/stations'
prams = {'stationReference':'023001'} 
uprams = u.parse.urlencode(prams)
url = domain +'?' + uprams
url

'https://environment.data.gov.uk/hydrology/id/stations?stationReference=023001'

In [29]:
a = json.loads(u.request.urlopen(url).read())

In [30]:
b = a['items']

In [31]:
c = pd.DataFrame(b)
c

,@id,type,label,notation,easting,northing,lat,long,riverName,stationReference,wiskiID,RLOIid,nrfaStationID,nrfaStationURL,stationGuid,measures
0,http://environment.data.gov.uk/hydrology/id/st...,[{'@id': 'http://environment.data.gov.uk/flood...,Bywell,e786e60f-a0f1-4955-aa57-f22ba39c7427,403913,561684,54.949776,-1.94043,River Tyne,023001,023001,8040,23001,https://nrfa.ceh.ac.uk/data/station/info/23001...,e786e60f-a0f1-4955-aa57-f22ba39c7427,{'@id': 'http://environment.data.gov.uk/hydrol...

In [32]:
c['riverName']

0    River Tyne
Name: riverName, dtype: object