## Getting daily rail freight information from Transport API

In [ ]:
import os
os.getcwd()

In [3]:
import pandas as pd
import json
import urllib as u
import datetime

In [ ]:
def Train(date,time):
    values = {}
    values['app_id']=origValue['app_id']
    values['app_key']=origValue['app_key']
    values['train_status']=origValue['train_status']
    qprams = u.parse.urlencode(values)
    uprams = date+'/'+time+'/'+'timetable.json?'
    url = u.request.urlopen(domain+uprams+qprams).read()
    result = json.loads(url)
    return result

In [ ]:
def Allday(date):
    values = {}
    values['app_id']=origValue['app_id']                       #get transportAPI app id
    values['app_key']=origValue['app_key']                     #get transportAPI app key
    values['train_status']=origValue['train_status']           #set the train type to be freight
    qprams = u.parse.urlencode(values)                         #set up the query parameter
    
    timelist = list()                                          #create time from 00:00 to 22:00, everty two hours
    for i in range(0,24,2):
        timelist.append(datetime.time(i,0).strftime('%H:%M'))
        
    uprams_list= list()                                        #create URI parameters every two hours
    for i in timelist:
        uprams_list.append(date+'/'+i+'/'+'timetable.json?')
    
    url_list = list()                                          #create URL for every two hours and request information
    for i in uprams_list:
        url_list.append(u.request.urlopen(domain+i+qprams).read()) 
        
    train_list = list()
    for i in range (0,11):                                     #create train list from the requested information 
        train_list.append((json.loads(url_list[i])['departures']['all']))
        
    train = list()                                             #remove empty cells
    for i in train_list:
        if len(i) != 0:
            train.append(i)
            
    result = pd.DataFrame([item for sublist in train for item in sublist])   #flatten the list and get pandas dataframe
    
    return result

### Live data

In [1]:
urllive = 'https://transportapi.com/v3/uk/train/station/tiploc:jarrgbf/live.json?app_id=d489a537&app_key=e625d5cc35077ef6bb84536d193dee19&darwin=false&train_status=freight'

In [4]:
livedata = pd.DataFrame(json.loads(u.request.urlopen(urllive).read()))['departures']['all']

In [5]:
pd.DataFrame(livedata)

,mode,service,train_uid,platform,operator,operator_name,aimed_departure_time,aimed_arrival_time,aimed_pass_time,origin_name,destination_name,source,category,service_timetable,status,expected_arrival_time,expected_departure_time,best_arrival_estimate_mins,best_departure_estimate_mins
0,train,56461880,H23105,None,ZZ,GB Railfreight,16:49,None,None,Tyne Dock Import Terminal,Drax Gb Railfreight,Network Rail,None,{'id': 'https://transportapi.com/v3/uk/train/s...,STARTS HERE,None,16:49,None,65
1,train,56461880,H23143,None,ZZ,GB Railfreight,17:43,None,None,Tyne Dock Import Terminal,Drax Gb Railfreight,Network Rail,None,{'id': 'https://transportapi.com/v3/uk/train/s...,STARTS HERE,None,17:43,None,119

 ### Main

In [ ]:
origValue = {'app_id':'d489a537','app_key':'e625d5cc35077ef6bb84536d193dee19','train_status':'freight'}
domain = 'https://transportapi.com/v3/uk/train/station/tiploc:jarrgbf/'

In [ ]:
Allday ('2021-12-14')

In [ ]:
# result = Train('2021-11-11', '17:00')
# result
# r= result['departures']['all']
# r

In [ ]:
# (pd.DataFrame(r)).columns
# list((pd.DataFrame(r)).columns)
# (pd.DataFrame(r)).head()

### seperate

In [ ]:
# date_list = [Today + datetime.timedelta(minutes=120*x) for x in range(0, 12)]

In [ ]:
# date_list

In [ ]:
# datetext=[x.strftime('%H:%M') for x in date_list]

In [ ]:
# datetext

In [ ]:
# import datetime

# print('Timestamp: {:%H:%M}'.format(datetime.datetime.now()))

In [ ]:
# print('Timestamp: {:%Y-%m-%d %H:%M:%S}'.format(datetime.datetime.now()))
# print('Timestamp: {:%Y-%b-%d %H:%M:%S}'.format(datetime.datetime.now()))

In [ ]:
# print('Date now: %s' % datetime.datetime.now())
# print('Date today: %s' % datetime.date.today())