In [1]:
# !pip install pyspark

In [2]:
# from platform import python_version

# print(python_version())

In [3]:
import os
os.getcwd()

'E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code'

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
drax = pd.read_csv('Data/Port history/Drax.csv')

In [7]:
drax_19 = drax.iloc[365:730].reset_index(drop=True)

In [8]:
drax_19

,Date,Energy/kwh,Tonnes,Rain,WindSpeed,RadianceTemperature,RelativeHumidity,SolarRadiance
0,01-Jan-19,4310.03,5847.1,NaN,NaN,NaN,NaN,NaN
1,02-Jan-19,3746.93,3671.7,NaN,NaN,NaN,NaN,NaN
2,03-Jan-19,3301.43,3022.4,NaN,NaN,NaN,NaN,NaN
3,04-Jan-19,3900.80,4316.3,NaN,NaN,NaN,NaN,NaN
4,05-Jan-19,1637.28,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
360,27-Dec-19,4517.08,NaN,NaN,NaN,NaN,NaN,NaN
361,28-Dec-19,3242.22,NaN,NaN,NaN,NaN,NaN,NaN
362,29-Dec-19,4173.10,NaN,NaN,NaN,NaN,NaN,NaN
363,30-Dec-19,4587.83,NaN,NaN,NaN,NaN,NaN,NaN
364,31-Dec-19,5515.42,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
wind_0 = pd.read_csv('Data/Port history/Wind_0.csv')
wind_1 = pd.read_csv('Data/Port history/Wind_1.csv')
wind_2 = pd.read_csv('Data/Port history/Wind_2.csv')

In [10]:
wind = pd.concat([wind_0,wind_1,wind_2])
wind.head()

   Unnamed: 0                      time  duration  value
0       76340  2019-01-01T00:00:00.000Z   -10.041   5.38
1       76339  2019-01-01T00:00:10.000Z   -14.081   4.91
2       76338  2019-01-01T00:19:20.000Z    -9.874   2.84
3       76337  2019-01-01T00:19:30.000Z -1149.950   7.15
4       76336  2019-01-01T00:19:40.000Z   -10.009   3.97

In [11]:
wind[['Date','Time']] = wind.time.str.split('T', expand=True)
wind = wind[['Date','value']]
ws = wind.groupby('Date').agg({'value': 'mean'})

In [12]:
humid = pd.read_csv('Data/Port history/humid.csv')
humid[['Date','Time']] = humid.time.str.split('T', expand=True)
humid = humid[['Date','value']]
hu = humid.groupby('Date').agg({'value': 'mean'})

In [13]:
Dx_19 = pd.concat([ws, hu], axis=1, ignore_index=True)
Dx_19.reset_index(level=0, inplace=True)
Dx_19['energy'] = drax_19['Energy/kwh']
Dx_19['tonnes'] = drax_19['Tonnes']

In [14]:
Dx_19.rename(columns={0: 'ws', 1: 'humid'}, inplace=True)

In [15]:
Dx_19

           Date        ws       humid   energy  tonnes
0    2019-01-01  2.464280   72.135903  4310.03  5847.1
1    2019-01-02  1.697626   70.793834  3746.93  3671.7
2    2019-01-03  1.259033  151.966281  3301.43  3022.4
3    2019-01-04  2.077430   81.562701  3900.80  4316.3
4    2019-01-05  2.153371   80.442688  1637.28     0.0
..          ...       ...         ...      ...     ...
360  2019-12-27  1.410682   87.653659  4517.08     NaN
361  2019-12-28  1.299815   73.118090  3242.22     NaN
362  2019-12-29  1.399479   73.115254  4173.10     NaN
363  2019-12-30  2.612227   75.833333  4587.83     NaN
364  2019-12-31  0.951678   83.551570  5515.42     NaN

[365 rows x 5 columns]

In [16]:
Dx_19.isna().sum()

Date        0
ws          0
humid       0
energy      4
tonnes    275
dtype: int64

In [17]:
cols = Dx_19.columns.to_list()

In [18]:
cols = cols[:3] + cols[-1:] + cols[-2:-1]

In [19]:
Dx_19 = Dx_19[cols]

In [20]:
Dx_19

           Date        ws       humid  tonnes   energy
0    2019-01-01  2.464280   72.135903  5847.1  4310.03
1    2019-01-02  1.697626   70.793834  3671.7  3746.93
2    2019-01-03  1.259033  151.966281  3022.4  3301.43
3    2019-01-04  2.077430   81.562701  4316.3  3900.80
4    2019-01-05  2.153371   80.442688     0.0  1637.28
..          ...       ...         ...     ...      ...
360  2019-12-27  1.410682   87.653659     NaN  4517.08
361  2019-12-28  1.299815   73.118090     NaN  3242.22
362  2019-12-29  1.399479   73.115254     NaN  4173.10
363  2019-12-30  2.612227   75.833333     NaN  4587.83
364  2019-12-31  0.951678   83.551570     NaN  5515.42

[365 rows x 5 columns]

In [21]:
Dx_19b = Dx_19.dropna()

In [22]:
Dx_19b

          Date        ws       humid  tonnes   energy
0   2019-01-01  2.464280   72.135903  5847.1  4310.03
1   2019-01-02  1.697626   70.793834  3671.7  3746.93
2   2019-01-03  1.259033  151.966281  3022.4  3301.43
3   2019-01-04  2.077430   81.562701  4316.3  3900.80
4   2019-01-05  2.153371   80.442688     0.0  1637.28
..         ...       ...         ...     ...      ...
85  2019-03-27  2.595927   72.008772  5976.9  6620.72
86  2019-03-28  1.736775   65.014085  6063.7  5924.66
87  2019-03-29  1.702721   66.295732  5321.9  4887.44
88  2019-03-30  1.888232   76.576017  1961.9  2303.76
89  2019-03-31  0.936343   67.831206     0.0   543.98

[90 rows x 5 columns]

In [23]:
Dx_19c = Dx_19b[Dx_19b.tonnes != 0]

In [24]:
Dx_19c

          Date        ws       humid  tonnes   energy
0   2019-01-01  2.464280   72.135903  5847.1  4310.03
1   2019-01-02  1.697626   70.793834  3671.7  3746.93
2   2019-01-03  1.259033  151.966281  3022.4  3301.43
3   2019-01-04  2.077430   81.562701  4316.3  3900.80
5   2019-01-06  2.580929   90.335196  4163.3  3364.49
..         ...       ...         ...     ...      ...
84  2019-03-26  2.650275   68.978788  6146.1  6248.88
85  2019-03-27  2.595927   72.008772  5976.9  6620.72
86  2019-03-28  1.736775   65.014085  6063.7  5924.66
87  2019-03-29  1.702721   66.295732  5321.9  4887.44
88  2019-03-30  1.888232   76.576017  1961.9  2303.76

[63 rows x 5 columns]

In [25]:
Dx_19c.to_csv('file_name.csv',index=False)

In [26]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Drax').getOrCreate()

In [27]:
spark

In [28]:
sparkDF = spark.read.csv('file_name.csv', header = True, inferSchema = True)

In [50]:
sparkDF.describe()

DataFrame[summary: string, Date: string, ws: string, humid: string, tonnes: string, energy: string]

In [29]:
sparkDF.show()

+----------+------------------+------------------+------+-------+
|      Date|                ws|             humid|tonnes| energy|
+----------+------------------+------------------+------+-------+
|2019-01-01| 2.464279776748607| 72.13590263691684|5847.1|4310.03|
|2019-01-02|1.6976264591439714| 70.79383429672447|3671.7|3746.93|
|2019-01-03|1.2590331719985723|151.96628131021188|3022.4|3301.43|
|2019-01-04| 2.077430490103677| 81.56270096463022|4316.3| 3900.8|
|2019-01-06|2.5809293548767607| 90.33519553072625|4163.3|3364.49|
|2019-01-07|3.2301929411764787| 78.97674418604652|5188.0|4779.89|
|2019-01-08| 4.051885707580372| 75.05294117647058|5628.9|5433.31|
|2019-01-09|  2.14695785260183| 80.76844783715013|5541.8|4759.37|
|2019-01-10|2.9375730891158915| 89.02362204724409|5509.8|4677.21|
|2019-01-11| 2.227581914268927|  85.0137614678899|5773.9|4490.16|
|2019-01-12| 4.328569914006371|  86.7487922705314|1374.9|2126.08|
|2019-01-13| 4.822477917795332| 75.14432989690722|3525.8|2411.46|
|2019-01-14|1.6576828837319018| 84.70769230769231|2128.0|3134.44|
|2019-01-15| 2.920589407077583| 75.17543859649123|3446.3|4021.09|
|2019-01-16| 2.936041152263373| 80.42159383033419|2169.5|3642.33|
|2019-01-17|3.5481068075117324| 257.6914691943127|4495.3|4545.82|
|2019-01-18|1.2570057762583966| 319.1855072463771|2686.3|4056.31|
|2019-01-19| 1.068597215667765| 90.05537459283387| 414.5|1389.06|
|2019-01-20|1.5311623246492947|  87.0608108108108|3187.5|2813.02|
|2019-01-21|1.3676151761517557|253.09228723404257|3183.6|3199.09|
+----------+------------------+------------------+------+-------+
only showing top 20 rows

In [29]:
sparkDF.printSchema()

root
 |-- Date: string (nullable = true)
 |-- ws: double (nullable = true)
 |-- humid: double (nullable = true)
 |-- tonnes: double (nullable = true)
 |-- energy: double (nullable = true)

In [77]:
type(sparkDF)

pyspark.sql.dataframe.DataFrame

In [78]:
sparkDF.printSchema()

root
 |-- Date: string (nullable = true)
 |-- ws: double (nullable = true)
 |-- humid: double (nullable = true)
 |-- tonnes: double (nullable = true)
 |-- energy: double (nullable = true)

In [ ]:
from pyspark.ml.feature import Imputer

In [32]:
sparkDF.columns

['Date', 'ws', 'humid', 'tonnes', 'energy']

In [35]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [36]:
feat_cols = ['ws','humid','tonnes']

In [37]:
vec_assembler = VectorAssembler(inputCols = feat_cols, outputCol = 'feat')

In [38]:
final_data = vec_assembler.transform(sparkDF)

In [39]:
final_data.head()

Row(Date='2019-01-01', ws=2.464279776748607, humid=72.13590263691684, tonnes=5847.1, energy=4310.03, feat=DenseVector([2.4643, 72.1359, 5847.1]))

In [41]:
final_data.columns

['Date', 'ws', 'humid', 'tonnes', 'energy', 'feat']

In [43]:
fin_data = final_data.select('feat','energy')

In [44]:
fin_data.show()

+--------------------+-------+
|                feat| energy|
+--------------------+-------+
|[2.46427977674860...|4310.03|
|[1.69762645914397...|3746.93|
|[1.25903317199857...|3301.43|
|[2.07743049010367...| 3900.8|
|[2.58092935487676...|3364.49|
|[3.23019294117647...|4779.89|
|[4.05188570758037...|5433.31|
|[2.14695785260183...|4759.37|
|[2.93757308911589...|4677.21|
|[2.22758191426892...|4490.16|
|[4.32856991400637...|2126.08|
|[4.82247791779533...|2411.46|
|[1.65768288373190...|3134.44|
|[2.92058940707758...|4021.09|
|[2.93604115226337...|3642.33|
|[3.54810680751173...|4545.82|
|[1.25700577625839...|4056.31|
|[1.06859721566776...|1389.06|
|[1.53116232464929...|2813.02|
|[1.36761517615175...|3199.09|
+--------------------+-------+
only showing top 20 rows

In [42]:
from pyspark.ml.regression import LinearRegression

In [45]:
train_data,test_data = fin_data.randomSplit([0.8,0.2])
regressor = LinearRegression(featuresCol= 'feat', labelCol= 'energy')
regressor = regressor.fit(train_data)

In [46]:
regressor.coefficients

DenseVector([-55.5394, -0.0691, 0.6306])

In [47]:
regressor.intercept

1595.5857448709673

In [48]:
pre_result = regressor.evaluate(test_data)

In [49]:
pre_result.predictions.show()

+--------------------+-------+------------------+
|                feat| energy|        prediction|
+--------------------+-------+------------------+
|[1.25700577625839...|4056.31| 3197.695576511752|
|[1.94190324858757...|3573.66| 3502.358970947505|
|[2.58092935487676...|3364.49|4071.3849885285726|
|[2.99676536247210...|3457.54| 3491.910466196051|
|[3.23019294117647...|4779.89| 4682.288744131025|
|[4.05188570758037...|5433.31| 4914.956244889993|
|[5.09036280380415...|3441.14|3393.8744786543084|
+--------------------+-------+------------------+

C:\Users\AdminUser\anaconda3\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
regressor.predict()