In [3]:
import pandas as pd
import json
import urllib as u
import datetime

In [3]:
#create APL link 
domain='https://services.marinetraffic.com/api/portcalls/v:4'
origValue = {'q':'Jarrow','date':'2020-01-01','enddate':'2020-01-02','tp':'6','format':'json','key':'2428c01539614ee9bd6142524221802'}
key = '2428c01539614ee9bd6142524221802'

In [ ]:
#create APL link 
domain='https://services.marinetraffic.com/api/portcalls/v:4/8521c2e6e2a9a70eded303bc092f4e2943dd2e64'
origValue = {'APIKEY'

In [4]:
qprams = u.parse.urlencode(origValue)

In [5]:
qprams

'q=Jarrow&date=2020-01-01&enddate=2020-01-02&tp=6&format=json&key=2428c01539614ee9bd6142524221802'

In [5]:
url = domain +'?' + qprams

In [6]:
url

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=South%2BShields&date=2020-01-01&enddate=2020-01-02&tp=6&format=json&key=2428c01539614ee9bd6142524221802'

In [7]:
a = pd.DataFrame(json.loads(u.request.urlopen(url).read()))

In [20]:
a.to_csv('save.csv')

In [8]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, request to weather
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    2 non-null      object
dtypes: object(1)
memory usage: 32.0+ bytes

In [9]:
a

                                                      data
request  [{'type': 'City', 'query': 'South Shields, Uni...
weather  [{'date': '2020-01-01', 'astronomy': [{'sunris...

In [10]:
a['data']

request    [{'type': 'City', 'query': 'South Shields, Uni...
weather    [{'date': '2020-01-01', 'astronomy': [{'sunris...
Name: data, dtype: object

In [11]:
b = pd.DataFrame(a['data']['weather'])

In [12]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          2 non-null      object
 1   astronomy     2 non-null      object
 2   maxtempC      2 non-null      object
 3   maxtempF      2 non-null      object
 4   mintempC      2 non-null      object
 5   mintempF      2 non-null      object
 6   avgtempC      2 non-null      object
 7   avgtempF      2 non-null      object
 8   totalSnow_cm  2 non-null      object
 9   sunHour       2 non-null      object
 10  uvIndex       2 non-null      object
 11  hourly        2 non-null      object
dtypes: object(12)
memory usage: 320.0+ bytes

In [13]:
b

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2020-01-01,"[{'sunrise': '08:30 AM', 'sunset': '03:48 PM',...",6,43,2,35,5,41,0.0,6.7,3,"[{'time': '0', 'tempC': '5', 'tempF': '41', 'w..."
1,2020-01-02,"[{'sunrise': '08:30 AM', 'sunset': '03:49 PM',...",9,48,1,33,7,45,0.0,7.2,3,"[{'time': '0', 'tempC': '4', 'tempF': '39', 'w..."

In [39]:
b['date']

0    2020-01-01
1    2020-01-02
Name: date, dtype: object

In [33]:
b['hourly']

0    [{'time': '0', 'tempC': '5', 'tempF': '41', 'w...
1    [{'time': '0', 'tempC': '4', 'tempF': '39', 'w...
Name: hourly, dtype: object

In [16]:
c = b['hourly'][0]

In [35]:
pd.DataFrame(pd.DataFrame(a['data']['weather'])['hourly'][0])['windspeedKmph']

0    22
1    15
2     9
3    17
Name: windspeedKmph, dtype: object

In [36]:
pd.DataFrame(pd.DataFrame(a['data']['weather'])['hourly'][0])['humidity']

0    81
1    88
2    79
3    71
Name: humidity, dtype: object

In [37]:
pd.DataFrame(pd.DataFrame(a['data']['weather'])['hourly'][1])['windspeedKmph']

0    19
1    27
2    28
3    27
Name: windspeedKmph, dtype: object

In [38]:
pd.DataFrame(pd.DataFrame(a['data']['weather'])['hourly'][1])['humidity']

0    86
1    81
2    67
3    82
Name: humidity, dtype: object

In [21]:
d = pd.DataFrame(c)

In [23]:
d.head()

,time,tempC,tempF,windspeedMiles,windspeedKmph,winddirDegree,winddir16Point,weatherCode,weatherIconUrl,weatherDesc,...,HeatIndexF,DewPointC,DewPointF,WindChillC,WindChillF,WindGustMiles,WindGustKmph,FeelsLikeC,FeelsLikeF,uvIndex
0,0,5,41,14,22,191,SSW,113,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],...,41,2,35,1,33,23,37,1,33,1
1,600,4,40,9,15,195,SSW,116,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Partly cloudy'}],...,40,3,37,1,34,17,27,1,34,2
2,1200,5,41,6,9,225,SW,122,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Overcast'}],...,41,2,35,3,38,9,14,3,38,2
3,1800,6,42,10,17,217,SW,116,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Partly cloudy'}],...,42,1,33,2,36,18,29,2,36,1

In [28]:
d['windspeedKmph']

0    22
1    15
2     9
3    17
Name: windspeedKmph, dtype: object

In [25]:
d['humidity']

0    81
1    88
2    79
3    71
Name: humidity, dtype: object

In [29]:
cc = b['hourly'][1]

In [32]:
pd.DataFrame(cc)['humidity']

0    86
1    81
2    67
3    82
Name: humidity, dtype: object

### =======================Jan

In [40]:
testValue1 = {'q':'South+Shields','date':'2020-01-01','enddate':'2020-01-31','tp':'24','format':'json','key':'2428c01539614ee9bd6142524221802'}

In [51]:
testprams1 = u.parse.urlencode(testValue1)

In [52]:
testprams1

'q=South%2BShields&date=2020-01-01&enddate=2020-01-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [53]:
testurl1 = domain +'?' + testprams1

In [54]:
testurl1

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=South%2BShields&date=2020-01-01&enddate=2020-01-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [55]:
a1 = pd.DataFrame(json.loads(u.request.urlopen(testurl1).read()))

In [56]:
a1.to_csv('Jan.csv')

In [57]:
a1['data']

request    [{'type': 'City', 'query': 'South Shields, Uni...
weather    [{'date': '2020-01-01', 'astronomy': [{'sunris...
Name: data, dtype: object

In [58]:
pd.DataFrame(a1['data']['weather'])

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2020-01-01,"[{'sunrise': '08:30 AM', 'sunset': '03:48 PM',...",6,43,2,35,5,41,0.0,6.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
1,2020-01-02,"[{'sunrise': '08:30 AM', 'sunset': '03:49 PM',...",9,48,1,33,7,45,0.0,7.2,3,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
2,2020-01-03,"[{'sunrise': '08:30 AM', 'sunset': '03:50 PM',...",6,43,-2,28,5,41,0.0,6.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
3,2020-01-04,"[{'sunrise': '08:30 AM', 'sunset': '03:52 PM',...",9,48,7,45,8,47,0.0,7.2,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
4,2020-01-05,"[{'sunrise': '08:29 AM', 'sunset': '03:53 PM',...",10,50,0,32,8,47,0.0,6.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
5,2020-01-06,"[{'sunrise': '08:29 AM', 'sunset': '03:54 PM',...",9,47,7,44,8,46,0.0,2.7,2,"[{'time': '24', 'tempC': '9', 'tempF': '47', '..."
6,2020-01-07,"[{'sunrise': '08:28 AM', 'sunset': '03:56 PM',...",10,50,2,36,8,46,0.0,4.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
7,2020-01-08,"[{'sunrise': '08:28 AM', 'sunset': '03:57 PM',...",7,45,5,40,6,44,0.0,4.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
8,2020-01-09,"[{'sunrise': '08:27 AM', 'sunset': '03:59 PM',...",7,44,1,33,5,41,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
9,2020-01-10,"[{'sunrise': '08:26 AM', 'sunset': '04:00 PM',...",6,43,0,33,5,41,0.0,6.8,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
10,2020-01-11,"[{'sunrise': '08:25 AM', 'sunset': '04:02 PM',...",12,54,7,44,11,52,0.0,4.8,3,"[{'time': '24', 'tempC': '12', 'tempF': '54', ..."
11,2020-01-12,"[{'sunrise': '08:25 AM', 'sunset': '04:03 PM',...",8,46,5,41,7,44,0.0,2.9,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
12,2020-01-13,"[{'sunrise': '08:24 AM', 'sunset': '04:05 PM',...",8,46,5,40,7,44,0.0,4.9,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
13,2020-01-14,"[{'sunrise': '08:23 AM', 'sunset': '04:07 PM',...",6,44,-4,26,5,41,0.0,2.9,1,"[{'time': '24', 'tempC': '6', 'tempF': '44', '..."
14,2020-01-15,"[{'sunrise': '08:22 AM', 'sunset': '04:08 PM',...",7,45,5,41,6,43,0.0,7.9,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
15,2020-01-16,"[{'sunrise': '08:21 AM', 'sunset': '04:10 PM',...",8,47,0,32,7,44,0.0,4.9,2,"[{'time': '24', 'tempC': '8', 'tempF': '47', '..."
16,2020-01-17,"[{'sunrise': '08:20 AM', 'sunset': '04:12 PM',...",7,44,5,40,6,43,0.0,6.8,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
17,2020-01-18,"[{'sunrise': '08:18 AM', 'sunset': '04:14 PM',...",6,44,4,39,5,41,0.0,8.0,3,"[{'time': '24', 'tempC': '6', 'tempF': '44', '..."
18,2020-01-19,"[{'sunrise': '08:17 AM', 'sunset': '04:15 PM',...",6,43,2,36,4,39,0.0,8.0,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
19,2020-01-20,"[{'sunrise': '08:16 AM', 'sunset': '04:17 PM',...",7,45,4,40,6,42,0.0,8.0,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
20,2020-01-21,"[{'sunrise': '08:15 AM', 'sunset': '04:19 PM',...",9,47,3,38,7,45,0.0,6.8,2,"[{'time': '24', 'tempC': '9', 'tempF': '47', '..."
21,2020-01-22,"[{'sunrise': '08:13 AM', 'sunset': '04:21 PM',...",10,50,8,46,9,48,0.0,4.9,2,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
22,2020-01-23,"[{'sunrise': '08:12 AM', 'sunset': '04:23 PM',...",9,48,6,42,7,45,0.0,6.8,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
23,2020-01-24,"[{'sunrise': '08:10 AM', 'sunset': '04:25 PM',...",9,48,7,44,8,46,0.0,4.9,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
24,2020-01-25,"[{'sunrise': '08:09 AM', 'sunset': '04:27 PM',...",9,47,6,43,7,45,0.0,6.8,2,"[{'time': '24', 'tempC': '9', 'tempF': '47', '..."
25,2020-01-26,"[{'sunrise': '08:07 AM', 'sunset': '04:29 PM',...",9,47,4,40,7,45,0.0,5.0,2,"[{'time': '24', 'tempC': '9', 'tempF': '47', '..."
26,2020-01-27,"[{'sunrise': '08:06 AM', 'sunset': '04:31 PM',...",6,43,4,38,5,41,0.0,5.0,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
27,2020-01-28,"[{'sunrise': '08:04 AM', 'sunset': '04:33 PM',...",5,42,2,36,4,39,2.1,3.1,1,"[{'time': '24', 'tempC': '5', 'tempF': '42', '..."
28,2020-01-29,"[{'sunrise': '08:03 AM', 'sunset': '04:35 PM',...",6,43,-4,25,4,40,0.0,6.8,1,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
29,2020-01-30,"[{'sunrise': '08:01 AM', 'sunset': '04:37 PM',...",11,52,8,46,9,48,0.0,3.1,2,"[{'time': '24', 'tempC': '11', 'tempF': '52', ..."
30,2020-01-31,"[{'sunrise': '07:59 AM', 'sunset': '04:39 PM',...",13,55,7,44,11,53,0.0,5.1,3,"[{'time': '24', 'tempC': '13', 'tempF': '55', ..."

In [59]:
pd.DataFrame(pd.DataFrame(a1['data']['weather'])['hourly'][0])['windspeedKmph']

0    15
Name: windspeedKmph, dtype: object

In [60]:
pd.DataFrame(pd.DataFrame(a1['data']['weather'])['hourly'][0])['humidity']

0    79
Name: humidity, dtype: object

# ======2020 data save to local json

In [86]:
testValue1 = {'q':'South+Shields','date':'2020-01-01','enddate':'2020-01-31','tp':'24','format':'json','key':'2428c01539614ee9bd6142524221802'}

In [87]:
testprams1 = u.parse.urlencode(testValue1)
testprams1

'q=South%2BShields&date=2020-01-01&enddate=2020-01-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [88]:
testurl1 = domain +'?' + testprams1
testurl1

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=South%2BShields&date=2020-01-01&enddate=2020-01-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [89]:
dJan = json.loads(u.request.urlopen(testurl1).read())

In [90]:
# Writing to sample.json
with open('E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code\\data\\20Jan.json', 'w+') as f:
    json.dump(dJan, f)

In [79]:
# dMar.to_csv('Mar.csv')

In [78]:
# pd.DataFrame(dMar['data']['weather'])

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2020-03-01,"[{'sunrise': '06:55 AM', 'sunset': '05:42 PM',...",6,42,4,39,5,41,0.0,4.1,2,"[{'time': '24', 'tempC': '6', 'tempF': '42', '..."
1,2020-03-02,"[{'sunrise': '06:52 AM', 'sunset': '05:45 PM',...",6,43,2,36,4,40,0.0,8.7,1,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
2,2020-03-03,"[{'sunrise': '06:50 AM', 'sunset': '05:47 PM',...",7,45,3,38,6,42,0.0,5.6,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
3,2020-03-04,"[{'sunrise': '06:47 AM', 'sunset': '05:49 PM',...",7,44,2,36,5,41,0.0,4.1,1,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
4,2020-03-05,"[{'sunrise': '06:45 AM', 'sunset': '05:51 PM',...",6,43,4,39,5,41,0.0,5.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
5,2020-03-06,"[{'sunrise': '06:42 AM', 'sunset': '05:53 PM',...",7,45,3,37,5,42,0.0,8.7,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
6,2020-03-07,"[{'sunrise': '06:40 AM', 'sunset': '05:55 PM',...",11,51,4,39,8,46,0.0,4.2,2,"[{'time': '24', 'tempC': '11', 'tempF': '51', ..."
7,2020-03-08,"[{'sunrise': '06:37 AM', 'sunset': '05:56 PM',...",9,49,6,43,8,46,0.0,5.7,2,"[{'time': '24', 'tempC': '9', 'tempF': '49', '..."
8,2020-03-09,"[{'sunrise': '06:35 AM', 'sunset': '05:58 PM',...",9,48,1,33,7,45,0.0,7.2,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
9,2020-03-10,"[{'sunrise': '06:32 AM', 'sunset': '06:00 PM',...",11,52,7,44,10,50,0.0,7.3,2,"[{'time': '24', 'tempC': '11', 'tempF': '52', ..."
10,2020-03-11,"[{'sunrise': '06:30 AM', 'sunset': '06:02 PM',...",9,48,5,41,7,45,0.0,8.7,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
11,2020-03-12,"[{'sunrise': '06:27 AM', 'sunset': '06:04 PM',...",7,45,1,34,5,42,0.0,10.2,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
12,2020-03-13,"[{'sunrise': '06:25 AM', 'sunset': '06:06 PM',...",6,43,4,39,6,42,0.0,10.2,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
13,2020-03-14,"[{'sunrise': '06:22 AM', 'sunset': '06:08 PM',...",9,48,5,40,7,45,0.0,5.9,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
14,2020-03-15,"[{'sunrise': '06:20 AM', 'sunset': '06:10 PM',...",10,50,7,44,9,48,0.0,6.0,2,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
15,2020-03-16,"[{'sunrise': '06:17 AM', 'sunset': '06:12 PM',...",9,48,4,39,7,44,0.0,10.2,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
16,2020-03-17,"[{'sunrise': '06:15 AM', 'sunset': '06:14 PM',...",11,52,8,46,10,50,0.0,7.4,2,"[{'time': '24', 'tempC': '11', 'tempF': '52', ..."
17,2020-03-18,"[{'sunrise': '06:12 AM', 'sunset': '06:16 PM',...",8,46,5,41,7,44,0.0,8.8,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
18,2020-03-19,"[{'sunrise': '06:09 AM', 'sunset': '06:18 PM',...",8,46,3,38,6,43,0.0,11.6,3,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
19,2020-03-20,"[{'sunrise': '06:07 AM', 'sunset': '06:20 PM',...",7,45,5,40,6,43,0.0,8.8,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
20,2020-03-21,"[{'sunrise': '06:04 AM', 'sunset': '06:22 PM',...",7,45,4,40,6,43,0.0,8.8,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
21,2020-03-22,"[{'sunrise': '06:02 AM', 'sunset': '06:24 PM',...",7,45,4,39,6,43,0.0,11.6,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
22,2020-03-23,"[{'sunrise': '05:59 AM', 'sunset': '06:26 PM',...",10,49,3,38,7,44,0.0,7.9,2,"[{'time': '24', 'tempC': '10', 'tempF': '49', ..."
23,2020-03-24,"[{'sunrise': '05:57 AM', 'sunset': '06:28 PM',...",12,53,4,40,8,47,0.0,11.9,2,"[{'time': '24', 'tempC': '12', 'tempF': '53', ..."
24,2020-03-25,"[{'sunrise': '05:54 AM', 'sunset': '06:30 PM',...",14,56,7,44,11,51,0.0,12.8,4,"[{'time': '24', 'tempC': '14', 'tempF': '56', ..."
25,2020-03-26,"[{'sunrise': '05:52 AM', 'sunset': '06:32 PM',...",10,50,6,42,9,48,0.0,12.8,3,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
26,2020-03-27,"[{'sunrise': '05:49 AM', 'sunset': '06:34 PM',...",8,46,5,41,7,45,0.0,12.9,3,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
27,2020-03-28,"[{'sunrise': '05:47 AM', 'sunset': '06:36 PM',...",7,44,5,40,6,43,0.0,10.6,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
28,2020-03-29,"[{'sunrise': '05:44 AM', 'sunset': '06:38 PM',...",5,42,4,39,5,40,0.0,8.1,1,"[{'time': '24', 'tempC': '5', 'tempF': '42', '..."
29,2020-03-30,"[{'sunrise': '05:42 AM', 'sunset': '06:40 PM',...",8,46,5,40,7,44,0.0,8.1,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
30,2020-03-31,"[{'sunrise': '05:39 AM', 'sunset': '06:42 PM',...",8,47,4,39,7,45,0.0,10.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '47', '..."

### =======2018

In [50]:
testValue = {'q':'Jarrow','date':'2018-01-01','enddate':'2018-01-31','tp':'24','format':'json','key':'2428c01539614ee9bd6142524221802'}
testprams = u.parse.urlencode(testValue)
testurl = domain +'?' + testprams
testurl

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=Jarrow&date=2018-01-01&enddate=2018-01-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [51]:
d = json.loads(u.request.urlopen(testurl).read())

In [52]:
pd.DataFrame(d['data']['weather'])

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2018-01-01,"[{'sunrise': '08:30 AM', 'sunset': '03:49 PM',...",7,45,5,41,6,44,0.0,7.2,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
1,2018-01-02,"[{'sunrise': '08:30 AM', 'sunset': '03:50 PM',...",7,45,5,41,6,42,0.0,6.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
2,2018-01-03,"[{'sunrise': '08:30 AM', 'sunset': '03:51 PM',...",8,47,7,44,8,46,0.0,6.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '47', '..."
3,2018-01-04,"[{'sunrise': '08:29 AM', 'sunset': '03:52 PM',...",7,44,5,42,6,43,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
4,2018-01-05,"[{'sunrise': '08:29 AM', 'sunset': '03:54 PM',...",5,42,4,39,5,40,0.0,2.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '42', '..."
5,2018-01-06,"[{'sunrise': '08:29 AM', 'sunset': '03:55 PM',...",7,44,6,42,6,43,0.0,6.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
6,2018-01-07,"[{'sunrise': '08:28 AM', 'sunset': '03:56 PM',...",5,42,4,39,5,40,0.0,6.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '42', '..."
7,2018-01-08,"[{'sunrise': '08:27 AM', 'sunset': '03:58 PM',...",6,42,3,38,5,40,0.0,7.3,2,"[{'time': '24', 'tempC': '6', 'tempF': '42', '..."
8,2018-01-09,"[{'sunrise': '08:27 AM', 'sunset': '03:59 PM',...",5,41,4,39,5,40,0.0,2.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '41', '..."
9,2018-01-10,"[{'sunrise': '08:26 AM', 'sunset': '04:01 PM',...",6,42,4,39,5,41,0.0,2.9,2,"[{'time': '24', 'tempC': '6', 'tempF': '42', '..."
10,2018-01-11,"[{'sunrise': '08:25 AM', 'sunset': '04:03 PM',...",7,45,4,40,6,43,0.0,2.9,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
11,2018-01-12,"[{'sunrise': '08:24 AM', 'sunset': '04:04 PM',...",7,44,5,41,6,43,0.0,7.8,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
12,2018-01-13,"[{'sunrise': '08:23 AM', 'sunset': '04:06 PM',...",6,42,5,41,6,42,0.0,2.9,2,"[{'time': '24', 'tempC': '6', 'tempF': '42', '..."
13,2018-01-14,"[{'sunrise': '08:22 AM', 'sunset': '04:08 PM',...",5,40,3,38,4,39,0.0,7.9,2,"[{'time': '24', 'tempC': '5', 'tempF': '40', '..."
14,2018-01-15,"[{'sunrise': '08:21 AM', 'sunset': '04:09 PM',...",8,47,5,41,7,45,0.0,4.9,2,"[{'time': '24', 'tempC': '8', 'tempF': '47', '..."
15,2018-01-16,"[{'sunrise': '08:20 AM', 'sunset': '04:11 PM',...",5,41,3,37,4,39,0.0,4.9,1,"[{'time': '24', 'tempC': '5', 'tempF': '41', '..."
16,2018-01-17,"[{'sunrise': '08:19 AM', 'sunset': '04:13 PM',...",6,42,3,37,5,40,0.0,7.9,2,"[{'time': '24', 'tempC': '6', 'tempF': '42', '..."
17,2018-01-18,"[{'sunrise': '08:18 AM', 'sunset': '04:15 PM',...",4,39,3,37,4,38,6.8,3.0,1,"[{'time': '24', 'tempC': '4', 'tempF': '39', '..."
18,2018-01-19,"[{'sunrise': '08:17 AM', 'sunset': '04:17 PM',...",3,38,2,36,3,37,0.0,3.0,1,"[{'time': '24', 'tempC': '3', 'tempF': '38', '..."
19,2018-01-20,"[{'sunrise': '08:15 AM', 'sunset': '04:18 PM',...",3,38,1,33,3,37,0.0,6.8,1,"[{'time': '24', 'tempC': '3', 'tempF': '38', '..."
20,2018-01-21,"[{'sunrise': '08:14 AM', 'sunset': '04:20 PM',...",3,37,0,33,2,35,0.0,4.9,1,"[{'time': '24', 'tempC': '3', 'tempF': '37', '..."
21,2018-01-22,"[{'sunrise': '08:13 AM', 'sunset': '04:22 PM',...",7,45,5,41,6,43,0.0,8.1,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
22,2018-01-23,"[{'sunrise': '08:11 AM', 'sunset': '04:24 PM',...",12,53,6,43,10,50,0.0,4.9,2,"[{'time': '24', 'tempC': '12', 'tempF': '53', ..."
23,2018-01-24,"[{'sunrise': '08:10 AM', 'sunset': '04:26 PM',...",12,53,7,45,9,48,0.0,6.8,2,"[{'time': '24', 'tempC': '12', 'tempF': '53', ..."
24,2018-01-25,"[{'sunrise': '08:08 AM', 'sunset': '04:28 PM',...",7,45,6,42,7,44,0.0,3.1,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
25,2018-01-26,"[{'sunrise': '08:07 AM', 'sunset': '04:30 PM',...",6,44,5,41,5,42,0.0,5.0,2,"[{'time': '24', 'tempC': '6', 'tempF': '44', '..."
26,2018-01-27,"[{'sunrise': '08:05 AM', 'sunset': '04:32 PM',...",11,52,5,41,8,47,0.0,3.1,2,"[{'time': '24', 'tempC': '11', 'tempF': '52', ..."
27,2018-01-28,"[{'sunrise': '08:04 AM', 'sunset': '04:34 PM',...",12,54,7,44,11,51,0.0,3.1,3,"[{'time': '24', 'tempC': '12', 'tempF': '54', ..."
28,2018-01-29,"[{'sunrise': '08:02 AM', 'sunset': '04:36 PM',...",10,50,5,42,8,47,0.0,8.3,3,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
29,2018-01-30,"[{'sunrise': '08:00 AM', 'sunset': '04:38 PM',...",7,45,5,41,6,43,0.0,3.1,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
30,2018-01-31,"[{'sunrise': '07:59 AM', 'sunset': '04:41 PM',...",6,43,4,39,5,41,0.0,8.7,3,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."

In [53]:
# Writing to sample.json
with open('E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code\\data\\18Jan.json', 'w+') as f:
    json.dump(d, f)

### =======2019

In [89]:
testValue = {'q':'Jarrow','date':'2019-12-01','enddate':'2019-12-31','tp':'24','format':'json','key':'2428c01539614ee9bd6142524221802'}
testprams = u.parse.urlencode(testValue)
testurl = domain +'?' + testprams
testurl

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=Jarrow&date=2019-12-01&enddate=2019-12-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [90]:
d = json.loads(u.request.urlopen(testurl).read())
pd.DataFrame(d['data']['weather'])

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2019-12-01,"[{'sunrise': '08:06 AM', 'sunset': '03:43 PM',...",4,40,3,37,4,38,0.0,7.4,2,"[{'time': '24', 'tempC': '4', 'tempF': '40', '..."
1,2019-12-02,"[{'sunrise': '08:08 AM', 'sunset': '03:42 PM',...",7,44,3,37,5,42,0.0,4.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
2,2019-12-03,"[{'sunrise': '08:09 AM', 'sunset': '03:42 PM',...",7,45,5,42,6,44,0.0,7.3,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
3,2019-12-04,"[{'sunrise': '08:11 AM', 'sunset': '03:41 PM',...",9,48,6,42,8,46,0.0,7.3,3,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
4,2019-12-05,"[{'sunrise': '08:12 AM', 'sunset': '03:40 PM',...",11,51,3,37,8,46,0.0,2.7,2,"[{'time': '24', 'tempC': '11', 'tempF': '51', ..."
5,2019-12-06,"[{'sunrise': '08:14 AM', 'sunset': '03:40 PM',...",12,53,9,48,11,51,0.0,2.7,3,"[{'time': '24', 'tempC': '12', 'tempF': '53', ..."
6,2019-12-07,"[{'sunrise': '08:15 AM', 'sunset': '03:39 PM',...",10,49,2,35,8,47,0.0,4.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '49', ..."
7,2019-12-08,"[{'sunrise': '08:16 AM', 'sunset': '03:39 PM',...",9,48,7,45,8,47,0.0,7.2,3,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
8,2019-12-09,"[{'sunrise': '08:17 AM', 'sunset': '03:38 PM',...",8,46,4,39,6,43,0.0,7.2,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
9,2019-12-10,"[{'sunrise': '08:19 AM', 'sunset': '03:38 PM',...",12,54,5,40,9,48,0.0,2.7,2,"[{'time': '24', 'tempC': '12', 'tempF': '54', ..."
10,2019-12-11,"[{'sunrise': '08:20 AM', 'sunset': '03:38 PM',...",7,45,4,40,6,43,0.0,6.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
11,2019-12-12,"[{'sunrise': '08:21 AM', 'sunset': '03:38 PM',...",6,43,4,38,5,41,0.0,4.7,1,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
12,2019-12-13,"[{'sunrise': '08:22 AM', 'sunset': '03:38 PM',...",7,44,4,40,6,43,0.0,6.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
13,2019-12-14,"[{'sunrise': '08:23 AM', 'sunset': '03:38 PM',...",6,43,5,40,5,42,0.0,6.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
14,2019-12-15,"[{'sunrise': '08:24 AM', 'sunset': '03:38 PM',...",5,41,3,38,4,39,0.3,4.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '41', '..."
15,2019-12-16,"[{'sunrise': '08:25 AM', 'sunset': '03:38 PM',...",6,43,4,40,6,42,0.0,7.1,3,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
16,2019-12-17,"[{'sunrise': '08:26 AM', 'sunset': '03:38 PM',...",5,42,4,38,4,40,0.0,6.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '42', '..."
17,2019-12-18,"[{'sunrise': '08:27 AM', 'sunset': '03:38 PM',...",6,44,2,36,4,40,0.0,7.1,1,"[{'time': '24', 'tempC': '6', 'tempF': '44', '..."
18,2019-12-19,"[{'sunrise': '08:27 AM', 'sunset': '03:38 PM',...",10,51,8,47,9,49,0.0,2.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '51', ..."
19,2019-12-20,"[{'sunrise': '08:28 AM', 'sunset': '03:39 PM',...",8,46,7,45,8,46,0.0,2.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
20,2019-12-21,"[{'sunrise': '08:28 AM', 'sunset': '03:39 PM',...",7,44,5,41,6,43,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
21,2019-12-22,"[{'sunrise': '08:29 AM', 'sunset': '03:40 PM',...",6,43,5,41,6,42,0.0,6.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
22,2019-12-23,"[{'sunrise': '08:29 AM', 'sunset': '03:40 PM',...",8,46,5,41,7,45,0.0,4.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
23,2019-12-24,"[{'sunrise': '08:30 AM', 'sunset': '03:41 PM',...",6,43,6,42,6,43,0.0,2.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
24,2019-12-25,"[{'sunrise': '08:30 AM', 'sunset': '03:42 PM',...",7,44,4,40,5,42,0.0,7.1,3,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
25,2019-12-26,"[{'sunrise': '08:30 AM', 'sunset': '03:42 PM',...",7,44,4,40,6,43,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
26,2019-12-27,"[{'sunrise': '08:31 AM', 'sunset': '03:43 PM',...",7,44,6,42,6,43,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
27,2019-12-28,"[{'sunrise': '08:31 AM', 'sunset': '03:44 PM',...",9,48,7,44,8,47,0.0,6.7,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
28,2019-12-29,"[{'sunrise': '08:31 AM', 'sunset': '03:45 PM',...",10,50,8,47,9,49,0.0,4.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '50', ..."
29,2019-12-30,"[{'sunrise': '08:31 AM', 'sunset': '03:46 PM',...",11,51,7,45,10,49,0.0,4.7,2,"[{'time': '24', 'tempC': '11', 'tempF': '51', ..."
30,2019-12-31,"[{'sunrise': '08:31 AM', 'sunset': '03:47 PM',...",7,45,5,40,6,42,0.0,7.2,3,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."

In [91]:
# Writing to sample.json
with open('E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code\\data\\19Dec.json', 'w+') as f:
    json.dump(d, f)

### =======2020

In [126]:
testValue = {'q':'Jarrow','date':'2020-12-01','enddate':'2020-12-31','tp':'24','format':'json','key':'2428c01539614ee9bd6142524221802'}
testprams = u.parse.urlencode(testValue)
testurl = domain +'?' + testprams
testurl

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=Jarrow&date=2020-12-01&enddate=2020-12-31&tp=24&format=json&key=2428c01539614ee9bd6142524221802'

In [127]:
d = json.loads(u.request.urlopen(testurl).read())
pd.DataFrame(d['data']['weather'])

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2020-12-01,"[{'sunrise': '08:07 AM', 'sunset': '03:43 PM',...",6,43,5,40,5,42,0.0,4.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
1,2020-12-02,"[{'sunrise': '08:09 AM', 'sunset': '03:42 PM',...",8,46,5,41,7,44,0.0,4.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
2,2020-12-03,"[{'sunrise': '08:10 AM', 'sunset': '03:41 PM',...",4,40,3,38,4,39,0.0,6.7,1,"[{'time': '24', 'tempC': '4', 'tempF': '40', '..."
3,2020-12-04,"[{'sunrise': '08:12 AM', 'sunset': '03:40 PM',...",6,43,-1,30,4,39,0.0,2.7,1,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
4,2020-12-05,"[{'sunrise': '08:13 AM', 'sunset': '03:40 PM',...",8,46,6,43,7,45,0.0,2.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
5,2020-12-06,"[{'sunrise': '08:15 AM', 'sunset': '03:39 PM',...",7,45,5,42,7,44,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
6,2020-12-07,"[{'sunrise': '08:16 AM', 'sunset': '03:39 PM',...",6,43,4,40,5,42,0.0,2.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
7,2020-12-08,"[{'sunrise': '08:17 AM', 'sunset': '03:39 PM',...",6,43,5,41,6,42,0.0,2.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
8,2020-12-09,"[{'sunrise': '08:18 AM', 'sunset': '03:38 PM',...",7,44,5,41,6,43,0.0,4.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
9,2020-12-10,"[{'sunrise': '08:20 AM', 'sunset': '03:38 PM',...",6,43,1,34,5,42,0.0,2.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
10,2020-12-11,"[{'sunrise': '08:21 AM', 'sunset': '03:38 PM',...",8,46,6,44,8,46,0.0,2.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
11,2020-12-12,"[{'sunrise': '08:22 AM', 'sunset': '03:38 PM',...",8,47,6,43,8,46,0.0,2.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '47', '..."
12,2020-12-13,"[{'sunrise': '08:23 AM', 'sunset': '03:38 PM',...",6,44,-2,29,5,41,0.0,4.7,2,"[{'time': '24', 'tempC': '6', 'tempF': '44', '..."
13,2020-12-14,"[{'sunrise': '08:24 AM', 'sunset': '03:38 PM',...",10,49,8,47,9,48,0.0,2.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '49', ..."
14,2020-12-15,"[{'sunrise': '08:25 AM', 'sunset': '03:38 PM',...",8,46,6,43,7,45,0.0,2.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
15,2020-12-16,"[{'sunrise': '08:26 AM', 'sunset': '03:38 PM',...",9,48,6,44,8,47,0.0,2.7,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
16,2020-12-17,"[{'sunrise': '08:26 AM', 'sunset': '03:38 PM',...",9,48,7,45,8,47,0.0,6.7,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
17,2020-12-18,"[{'sunrise': '08:27 AM', 'sunset': '03:38 PM',...",13,56,10,50,12,54,0.0,2.7,3,"[{'time': '24', 'tempC': '13', 'tempF': '56', ..."
18,2020-12-19,"[{'sunrise': '08:28 AM', 'sunset': '03:39 PM',...",10,51,9,47,10,50,0.0,4.7,2,"[{'time': '24', 'tempC': '10', 'tempF': '51', ..."
19,2020-12-20,"[{'sunrise': '08:28 AM', 'sunset': '03:39 PM',...",9,48,6,44,8,46,0.0,7.1,3,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
20,2020-12-21,"[{'sunrise': '08:29 AM', 'sunset': '03:40 PM',...",8,47,1,34,7,44,0.0,2.7,2,"[{'time': '24', 'tempC': '8', 'tempF': '47', '..."
21,2020-12-22,"[{'sunrise': '08:29 AM', 'sunset': '03:40 PM',...",7,44,5,41,6,42,0.0,7.1,3,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
22,2020-12-23,"[{'sunrise': '08:30 AM', 'sunset': '03:41 PM',...",7,45,-2,29,5,42,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
23,2020-12-24,"[{'sunrise': '08:30 AM', 'sunset': '03:41 PM',...",5,40,-1,30,3,38,0.0,2.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '40', '..."
24,2020-12-25,"[{'sunrise': '08:30 AM', 'sunset': '03:42 PM',...",5,40,-1,29,3,37,0.0,4.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '40', '..."
25,2020-12-26,"[{'sunrise': '08:31 AM', 'sunset': '03:43 PM',...",7,45,2,35,7,44,0.0,2.7,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
26,2020-12-27,"[{'sunrise': '08:31 AM', 'sunset': '03:44 PM',...",5,40,3,37,4,39,0.0,4.7,1,"[{'time': '24', 'tempC': '5', 'tempF': '40', '..."
27,2020-12-28,"[{'sunrise': '08:31 AM', 'sunset': '03:45 PM',...",6,42,0,33,5,41,0.0,2.7,1,"[{'time': '24', 'tempC': '6', 'tempF': '42', '..."
28,2020-12-29,"[{'sunrise': '08:31 AM', 'sunset': '03:46 PM',...",4,40,3,37,4,39,0.0,2.7,1,"[{'time': '24', 'tempC': '4', 'tempF': '40', '..."
29,2020-12-30,"[{'sunrise': '08:31 AM', 'sunset': '03:47 PM',...",3,37,1,35,2,36,0.0,4.7,1,"[{'time': '24', 'tempC': '3', 'tempF': '37', '..."
30,2020-12-31,"[{'sunrise': '08:31 AM', 'sunset': '03:48 PM',...",6,43,0,33,4,39,0.0,2.7,1,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."

In [128]:
# Writing to sample.json
with open('E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code\\data\\20Dec.json', 'w+') as f:
    json.dump(d, f)

# ========= Local file

In [1]:
import os
os.chdir("E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code\\data")
os.getcwd()

'E:\\20190923 Newcastle-M.Res\\OneDrive - Newcastle University\\21_22_autumn\\211018\\code\\data'

In [4]:
Jan18 = pd.read_json('18Jan.json')
Feb18 = pd.read_json('18Feb.json')
Mar18 = pd.read_json('18Mar.json')
Apr18 = pd.read_json('18Apr.json')
May18 = pd.read_json('18May.json')
Jun18 = pd.read_json('18Jun.json')
Jul18 = pd.read_json('18Jul.json')
Aug18 = pd.read_json('18Aug.json')
Sep18 = pd.read_json('18Sep.json')
Oct18 = pd.read_json('18Oct.json')
Nov18 = pd.read_json('18Nov.json')
Dec18 = pd.read_json('18Dec.json')

In [5]:
Jan19 = pd.read_json('19Jan.json')
Feb19 = pd.read_json('19Feb.json')
Mar19 = pd.read_json('19Mar.json')
Apr19 = pd.read_json('19Apr.json')
May19 = pd.read_json('19May.json')
Jun19 = pd.read_json('19Jun.json')
Jul19 = pd.read_json('19Jul.json')
Aug19 = pd.read_json('19Aug.json')
Sep19 = pd.read_json('19Sep.json')
Oct19 = pd.read_json('19Oct.json')
Nov19 = pd.read_json('19Nov.json')
Dec19 = pd.read_json('19Dec.json')

In [6]:
Jan20 = pd.read_json('20Jan.json')
Feb20 = pd.read_json('20Feb.json')
Mar20 = pd.read_json('20Mar.json')
Apr20 = pd.read_json('20Apr.json')
May20 = pd.read_json('20May.json')
Jun20 = pd.read_json('20Jun.json')
Jul20 = pd.read_json('20Jul.json')
Aug20 = pd.read_json('20Aug.json')
Sep20 = pd.read_json('20Sep.json')
Oct20 = pd.read_json('20Oct.json')
Nov20 = pd.read_json('20Nov.json')
Dec20 = pd.read_json('20Dec.json')

#### ===== 2018 windspeed

In [7]:
wslist1 = list()
for i in range (0,31):
    wslist1.append(pd.DataFrame(pd.DataFrame(Jan18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [8]:
wslist2 = list()
for i in range (0,28):
    wslist2.append(pd.DataFrame(pd.DataFrame(Feb18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [9]:
wslist3 = list()
for i in range (0,31):
    wslist3.append(pd.DataFrame(pd.DataFrame(Mar18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [10]:
wslist4 = list()
for i in range (0,30):
    wslist4.append(pd.DataFrame(pd.DataFrame(Apr18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [11]:
wslist5 = list()
for i in range (0,31):
    wslist5.append(pd.DataFrame(pd.DataFrame(May18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [12]:
wslist6 = list()
for i in range (0,30):
    wslist6.append(pd.DataFrame(pd.DataFrame(Jun18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [13]:
wslist7 = list()
for i in range (0,31):
    wslist7.append(pd.DataFrame(pd.DataFrame(Jul18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [14]:
wslist8 = list()
for i in range (0,31):
    wslist8.append(pd.DataFrame(pd.DataFrame(Aug18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [15]:
wslist9 = list()
for i in range (0,30):
    wslist9.append(pd.DataFrame(pd.DataFrame(Sep18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [16]:
wslist10 = list()
for i in range (0,31):
    wslist10.append(pd.DataFrame(pd.DataFrame(Oct18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [17]:
wslist11 = list()
for i in range (0,30):
    wslist11.append(pd.DataFrame(pd.DataFrame(Nov18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [18]:
wslist12 = list()
for i in range (0,31):
    wslist12.append(pd.DataFrame(pd.DataFrame(Dec18['data']['weather'])['hourly'][i])['windspeedKmph'])

In [19]:
ws2018 = wslist1 + wslist2 + wslist3 + wslist4 + wslist5 + wslist6 + wslist7 + wslist8 + wslist9 + wslist10 + wslist11 + wslist12

In [20]:
len(ws2018)

365

#### ======2018humidity

In [21]:
hulist1 = list()
for i in range (0,31):
    hulist1.append(pd.DataFrame(pd.DataFrame(Jan18['data']['weather'])['hourly'][i])['humidity'])

In [22]:
hulist2 = list()
for i in range (0,28):
    hulist2.append(pd.DataFrame(pd.DataFrame(Feb18['data']['weather'])['hourly'][i])['humidity'])

In [23]:
hulist3 = list()
for i in range (0,31):
    hulist3.append(pd.DataFrame(pd.DataFrame(Mar18['data']['weather'])['hourly'][i])['humidity'])

In [24]:
hulist4 = list()
for i in range (0,30):
    hulist4.append(pd.DataFrame(pd.DataFrame(Apr18['data']['weather'])['hourly'][i])['humidity'])

In [25]:
hulist5 = list()
for i in range (0,31):
    hulist5.append(pd.DataFrame(pd.DataFrame(May18['data']['weather'])['hourly'][i])['humidity'])

In [26]:
hulist6 = list()
for i in range (0,30):
    hulist6.append(pd.DataFrame(pd.DataFrame(Jun18['data']['weather'])['hourly'][i])['humidity'])

In [27]:
hulist7 = list()
for i in range (0,31):
    hulist7.append(pd.DataFrame(pd.DataFrame(Jul18['data']['weather'])['hourly'][i])['humidity'])

In [28]:
hulist8 = list()
for i in range (0,31):
    hulist8.append(pd.DataFrame(pd.DataFrame(Aug18['data']['weather'])['hourly'][i])['humidity'])

In [29]:
hulist9 = list()
for i in range (0,30):
    hulist9.append(pd.DataFrame(pd.DataFrame(Sep18['data']['weather'])['hourly'][i])['humidity'])

In [30]:
hulist10 = list()
for i in range (0,31):
    hulist10.append(pd.DataFrame(pd.DataFrame(Oct18['data']['weather'])['hourly'][i])['humidity'])

In [31]:
hulist11 = list()
for i in range (0,30):
    hulist11.append(pd.DataFrame(pd.DataFrame(Nov18['data']['weather'])['hourly'][i])['humidity'])

In [32]:
hulist12 = list()
for i in range (0,31):
    hulist12.append(pd.DataFrame(pd.DataFrame(Dec18['data']['weather'])['hourly'][i])['humidity'])

In [33]:
hu2018 = hulist1 + hulist2 + hulist3 + hulist4 + hulist5 + hulist6 + hulist7 + hulist8 + hulist9 + hulist10 + hulist11 + hulist12

In [34]:
len(hu2018)

365

#### ======2019windspeed

In [35]:
wslist1 = list()
for i in range (0,31):
    wslist1.append(pd.DataFrame(pd.DataFrame(Jan19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [36]:
wslist2 = list()
for i in range (0,28):
    wslist2.append(pd.DataFrame(pd.DataFrame(Feb19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [37]:
wslist3 = list()
for i in range (0,31):
    wslist3.append(pd.DataFrame(pd.DataFrame(Mar19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [38]:
wslist4 = list()
for i in range (0,30):
    wslist4.append(pd.DataFrame(pd.DataFrame(Apr19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [39]:
wslist5 = list()
for i in range (0,31):
    wslist5.append(pd.DataFrame(pd.DataFrame(May19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [40]:
wslist6 = list()
for i in range (0,30):
    wslist6.append(pd.DataFrame(pd.DataFrame(Jun19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [41]:
wslist7 = list()
for i in range (0,31):
    wslist7.append(pd.DataFrame(pd.DataFrame(Jul19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [42]:
wslist8 = list()
for i in range (0,31):
    wslist8.append(pd.DataFrame(pd.DataFrame(Aug19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [43]:
wslist9 = list()
for i in range (0,30):
    wslist9.append(pd.DataFrame(pd.DataFrame(Sep19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [44]:
wslist10 = list()
for i in range (0,31):
    wslist10.append(pd.DataFrame(pd.DataFrame(Oct19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [45]:
wslist11 = list()
for i in range (0,30):
    wslist11.append(pd.DataFrame(pd.DataFrame(Nov19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [46]:
wslist12 = list()
for i in range (0,31):
    wslist12.append(pd.DataFrame(pd.DataFrame(Dec19['data']['weather'])['hourly'][i])['windspeedKmph'])

In [47]:
ws2019 = wslist1 + wslist2 + wslist3 + wslist4 + wslist5 + wslist6 + wslist7 + wslist8 + wslist9 + wslist10 + wslist11 + wslist12

In [48]:
len(ws2019)

365

#### ======2020windspeed

In [49]:
wslist1 = list()
for i in range (0,31):
    wslist1.append(pd.DataFrame(pd.DataFrame(Jan20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [50]:
wslist2 = list()
for i in range (0,29):
    wslist2.append(pd.DataFrame(pd.DataFrame(Feb20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [51]:
wslist3 = list()
for i in range (0,31):
    wslist3.append(pd.DataFrame(pd.DataFrame(Mar20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [52]:
wslist4 = list()
for i in range (0,30):
    wslist4.append(pd.DataFrame(pd.DataFrame(Apr20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [53]:
wslist5 = list()
for i in range (0,31):
    wslist5.append(pd.DataFrame(pd.DataFrame(May20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [54]:
wslist6 = list()
for i in range (0,30):
    wslist6.append(pd.DataFrame(pd.DataFrame(Jun20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [55]:
wslist7 = list()
for i in range (0,31):
    wslist7.append(pd.DataFrame(pd.DataFrame(Jul20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [56]:
wslist8 = list()
for i in range (0,31):
    wslist8.append(pd.DataFrame(pd.DataFrame(Aug20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [57]:
wslist9 = list()
for i in range (0,30):
    wslist9.append(pd.DataFrame(pd.DataFrame(Sep20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [58]:
wslist10 = list()
for i in range (0,31):
    wslist10.append(pd.DataFrame(pd.DataFrame(Oct20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [59]:
wslist11 = list()
for i in range (0,30):
    wslist11.append(pd.DataFrame(pd.DataFrame(Nov20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [60]:
wslist12 = list()
for i in range (0,31):
    wslist12.append(pd.DataFrame(pd.DataFrame(Dec20['data']['weather'])['hourly'][i])['windspeedKmph'])

In [61]:
ws2020 = wslist1 + wslist2 + wslist3 + wslist4 + wslist5 + wslist6 + wslist7 + wslist8 + wslist9 + wslist10 + wslist11 + wslist12

In [62]:
len(ws2020)

366

#### ======humidity

In [63]:
hulist1 = list()
for i in range (0,31):
    hulist1.append(pd.DataFrame(pd.DataFrame(Jan19['data']['weather'])['hourly'][i])['humidity'])

In [64]:
hulist2 = list()
for i in range (0,28):
    hulist2.append(pd.DataFrame(pd.DataFrame(Feb19['data']['weather'])['hourly'][i])['humidity'])

In [65]:
hulist3 = list()
for i in range (0,31):
    hulist3.append(pd.DataFrame(pd.DataFrame(Mar19['data']['weather'])['hourly'][i])['humidity'])

In [66]:
hulist4 = list()
for i in range (0,30):
    hulist4.append(pd.DataFrame(pd.DataFrame(Apr19['data']['weather'])['hourly'][i])['humidity'])

In [67]:
hulist5 = list()
for i in range (0,31):
    hulist5.append(pd.DataFrame(pd.DataFrame(May19['data']['weather'])['hourly'][i])['humidity'])

In [68]:
hulist6 = list()
for i in range (0,30):
    hulist6.append(pd.DataFrame(pd.DataFrame(Jun19['data']['weather'])['hourly'][i])['humidity'])

In [69]:
hulist7 = list()
for i in range (0,31):
    hulist7.append(pd.DataFrame(pd.DataFrame(Jul19['data']['weather'])['hourly'][i])['humidity'])

In [70]:
hulist8 = list()
for i in range (0,31):
    hulist8.append(pd.DataFrame(pd.DataFrame(Aug19['data']['weather'])['hourly'][i])['humidity'])

In [71]:
hulist9 = list()
for i in range (0,30):
    hulist9.append(pd.DataFrame(pd.DataFrame(Sep19['data']['weather'])['hourly'][i])['humidity'])

In [72]:
hulist10 = list()
for i in range (0,31):
    hulist10.append(pd.DataFrame(pd.DataFrame(Oct19['data']['weather'])['hourly'][i])['humidity'])

In [73]:
hulist11 = list()
for i in range (0,30):
    hulist11.append(pd.DataFrame(pd.DataFrame(Nov19['data']['weather'])['hourly'][i])['humidity'])

In [74]:
hulist12 = list()
for i in range (0,31):
    hulist12.append(pd.DataFrame(pd.DataFrame(Dec19['data']['weather'])['hourly'][i])['humidity'])

In [75]:
hu2019 = hulist1 + hulist2 + hulist3 + hulist4 + hulist5 + hulist6 + hulist7 + hulist8 + hulist9 + hulist10 + hulist11 + hulist12

In [76]:
len(hu2019)

365

In [77]:
hulist1 = list()
for i in range (0,31):
    hulist1.append(pd.DataFrame(pd.DataFrame(Jan20['data']['weather'])['hourly'][i])['humidity'])

In [78]:
hulist2 = list()
for i in range (0,29):
    hulist2.append(pd.DataFrame(pd.DataFrame(Feb20['data']['weather'])['hourly'][i])['humidity'])

In [79]:
hulist3 = list()
for i in range (0,31):
    hulist3.append(pd.DataFrame(pd.DataFrame(Mar20['data']['weather'])['hourly'][i])['humidity'])

In [80]:
hulist4 = list()
for i in range (0,30):
    hulist4.append(pd.DataFrame(pd.DataFrame(Apr20['data']['weather'])['hourly'][i])['humidity'])

In [81]:
hulist5 = list()
for i in range (0,31):
    hulist5.append(pd.DataFrame(pd.DataFrame(May20['data']['weather'])['hourly'][i])['humidity'])

In [82]:
hulist6 = list()
for i in range (0,30):
    hulist6.append(pd.DataFrame(pd.DataFrame(Jun20['data']['weather'])['hourly'][i])['humidity'])

In [83]:
hulist7 = list()
for i in range (0,31):
    hulist7.append(pd.DataFrame(pd.DataFrame(Jul20['data']['weather'])['hourly'][i])['humidity'])

In [84]:
hulist8 = list()
for i in range (0,31):
    hulist8.append(pd.DataFrame(pd.DataFrame(Aug20['data']['weather'])['hourly'][i])['humidity'])

In [85]:
hulist9 = list()
for i in range (0,30):
    hulist9.append(pd.DataFrame(pd.DataFrame(Sep20['data']['weather'])['hourly'][i])['humidity'])

In [86]:
hulist10 = list()
for i in range (0,31):
    hulist10.append(pd.DataFrame(pd.DataFrame(Oct20['data']['weather'])['hourly'][i])['humidity'])

In [87]:
hulist11 = list()
for i in range (0,30):
    hulist11.append(pd.DataFrame(pd.DataFrame(Nov20['data']['weather'])['hourly'][i])['humidity'])

In [88]:
hulist12 = list()
for i in range (0,31):
    hulist12.append(pd.DataFrame(pd.DataFrame(Dec20['data']['weather'])['hourly'][i])['humidity'])

In [89]:
hu2020 = hulist1 + hulist2 + hulist3 + hulist4 + hulist5 + hulist6 + hulist7 + hulist8 + hulist9 + hulist10 + hulist11 + hulist12

In [90]:
len(hu2020)

366

#### =======Save data to file with date index

In [91]:
ws2018n = list()
for i in range(0,365):
    ws2018n.append(int(ws2018[i].item()))     #get the item from series, and convert string to integer

In [92]:
hu2018n = list()
for i in range(0,365):
    hu2018n.append(int(hu2018[i].item()))     #get the item from series, and convert string to integer

In [93]:
ws2019n = list()
for i in range(0,365):
    ws2019n.append(int(ws2019[i].item()))     #get the item from series, and convert string to integer

In [94]:
hu2019n = list()
for i in range(0,365):
    hu2019n.append(int(hu2019[i].item()))     #get the item from series, and convert string to integer

In [95]:
ws2020n = list()
for i in range(0,366):
    ws2020n.append(int(ws2020[i].item()))     #get the item from series, and convert string to integer

In [96]:
hu2020n = list()
for i in range(0,366):
    hu2020n.append(int(hu2020[i].item()))     #get the item from series, and convert string to integer

In [97]:
final2018 = pd.DataFrame(
{'WS':ws2018n,
 'HU':hu2018n}
)
final2018['Date'] = pd.date_range(start="2018-01-01",end="2018-12-31")
final2018 = final2018.set_index('Date')

In [98]:
final2019 = pd.DataFrame(
{'WS':ws2019n,
 'HU':hu2019n}
)
final2019['Date'] = pd.date_range(start="2019-01-01",end="2019-12-31")
final2019 = final2019.set_index('Date')

In [99]:
final2020 = pd.DataFrame(
{'WS':ws2020n,
 'HU':hu2020n}
)
final2020['Date'] = pd.date_range(start="2020-01-01",end="2020-12-31")
final2020 = final2020.set_index('Date')

In [100]:
f = final2018.append(final2019)

In [101]:
f = f.append(final2020)

In [102]:
f

            WS  HU
Date
2018-01-01  21  74
2018-01-02  20  81
2018-01-03  34  72
2018-01-04  16  86
2018-01-05  17  83
...         ..  ..
2020-12-27  22  76
2020-12-28  20  77
2020-12-29  18  74
2020-12-30  18  76
2020-12-31  21  83

[1096 rows x 2 columns]

In [103]:
f.to_csv('finalweather.csv')